@import "~bootstrap/scss/bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .App {
    // text-align: center;
    .App-header {
      background-image: url(./images/IMG_6932.png);
      background-size: 100%;
      // background-repeat: repeat-x;
      color: white;
      height: 90vh;
      .header-content {
        width: 600px;
        margin: 130px 100px;
        text-align: center;
        .header-text {
          font-weight: 800;
          line-height: 3.5rem;
        }
        .big {
          font-size: 4rem;
        }
        .small {
          font-size: 3.5rem;
        }
        .btn {
          margin-top: 40px;
          background: linear-gradient(
            94.14deg,
            #f30b0b -12.72%,
            rgba(15, 11, 182, 0.92) 115.37%
          );
          border-radius: 10px;
          width: 120px;
          height: 40px;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  .btn {
    background: linear-gradient(
      94.14deg,
      #f30b0b -12.72%,
      rgba(15, 11, 182, 0.92) 115.37%
    );
    border-radius: 30px;
    width: 100px;
    height: 35px;
    color: white;
    cursor: pointer;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
