.about-section {
  width: 1200px;
  margin: 0 auto;
  h3 {
    text-align: center;
  }
  .about-content {
    display: flex;
    margin: 40px;

    .about-img {
      width: 560px;
      z-index: 10;
      img {
        width: 100%;
        object-fit: contain;
        overflow: hidden;
      }
    }
    .about-text {
      z-index: 11;
      text-align: justify;
      background-color: rgb(42, 42, 216);
      height: 334px;
      padding: 30px;
      color: white;
      width: 560px;
      margin-right: 7px;
    }
  }
}
