.about-section {
  // padding: 50px 30px;
  width: 1200px;
  margin: 30px auto;
  h1 {
    text-align: center;
  }
  .about-content {
    display: flex;
    margin: 40px;
    .about-img {
      img {
        width: 100%;
        object-fit: contain;
        overflow: hidden;
      }
    }
    .about-text {
      text-align: justify;
      background-color: rgb(42, 42, 216);
      height: 300px;
      padding: 30px;
      color: white;
    }
  }
  .about {
    width: 500px;
    margin-right: 5px;
    
  }
}
