.footer {
  background-color: #2d3fa2;
  padding: 0px 15px;
  color: white;
  height: 180px;
  position: relative;

  .footer-bottom {
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    height: 95px;
    margin-top: 10px;

    .footer-socials {
      display: flex;
      .socials {
        margin-left: 10px;
      }
    }
  }
}
