.media {
    display: flex;
    background-color: blue;
    width: 1200px;
    height: 250px;
    margin: 40px auto;
    
    .box {
        width: 600px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
    }
    .left {
     border-right: 4px solid white;   
    }
}