.Nav-header {
  // background-color:black;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 4, 0.652),
    rgb(0, 0, 0) 50%
  );
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 100px;

  .logo-header {
    display: flex;
    align-items: center;
    img {
      height: 70px;
    }
    .nav-text {
      margin-top: 10px;
      .top-text {
        letter-spacing: 1px;
        font-size: 1rem;
        line-height: 0.5;
        color: pink;

        span {
          color: skyblue;
        }
      }
      .bottom-text {
        color: gray;
        font-size: 1rem;
      }
    }
  }
  .Full-Nav {
    color: white;
    display: flex;
    align-items: center;
    #nav-dropdown {
      margin-left: 10px;
    }
    button {
      margin-left: 30px;
      cursor: pointer;
    }
  }
}
